* * * * * cd ~/coin.new && bash start.bash > /dev/null 2>/dev/null

* * * * * cd ~/coin.new && bash errors.bash > /dev/null 2>/dev/null
* * * * * cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null
* * * * * sleep 15; cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null
* * * * * sleep 30; cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null
* * * * * sleep 45; cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null

@reboot   cd ~/coin.new && bash watchdog.bash init > /dev/null 2>/dev/null
* * * * * cd ~/coin.new && bash watchdog.bash > /dev/null 2>/dev/null

*/2 * * * * cd ~/coin.new && touch flg/tr_err.flg
*/2 * * * * cd ~/coin.new && touch flg/tr_temp.flg
*/2 * * * * cd ~/coin.new && touch flg/tr_wdog.flg
*/2 * * * * cd ~/coin.new && touch flg/tr_fly.flg
