* * * * * cd ~/coin.new && bash start.bash > /dev/null 2>/dev/null
@reboot   cd ~/coin.new && bash start_pl.bash > /dev/null 2>/dev/null

* * * * * cd ~/coin.new && bash errors.bash > /dev/null 2>/dev/null

* * * * * sleep  0; cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null
* * * * * sleep 10; cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null
* * * * * sleep 20; cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null
* * * * * sleep 30; cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null
* * * * * sleep 40; cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null
* * * * * sleep 50; cd ~/coin.new && bash temperature.bash > /dev/null 2>/dev/null

@reboot   cd ~/coin.new && bash watchdog.bash init > /dev/null 2>/dev/null
* * * * * cd ~/coin.new && bash watchdog.bash > /dev/null 2>/dev/null

0 0 * * * cd ~/coin.new && touch flg/tr_err.flg
0 0 * * * cd ~/coin.new && touch flg/tr_temp.flg
0 0 * * * cd ~/coin.new && touch flg/tr_wdog.flg
0 0 * * * cd ~/coin.new && touch flg/tr_fly.flg
